body{
    margin: 30px;
}

.container {
  outline: solid 2px;
}

.row {
  outline: solid 1px;
}

.col, .col-2, .col-6, .col-12 {
  outline: solid 1px;
  padding: 0%;
}

.col-12{
    background-color: blue;
}

.coloumn-2-bg-color{
    background-color: burlywood;
}

.row-2-bg-color{
    background-color: brown;
}


.remove-margin{
    margin: 0%;
}

.special-height{
    height: 48px;
    background-color: cornsilk;
}
